<nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top bg-dark">
    <button class="navbar-toggler navbar-toggler-right" type="button"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation" (click)="isExpanded = !isExpanded"
            [attr.aria-expanded]="!isExpanded">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Quick Entry</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="!isExpanded">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="login" *ngIf="!users">Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="login" (click)="onLogOutClick()" *ngIf="users">Log Off</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">{{displayName}}</a>
            </li>
        </ul>
    </div>
</nav>
