<h1>Enter {{meetName}}</h1>
<h2>Entrant Details</h2>

<form [formGroup]="inlineLoginForm">
    <fieldset class="qe-fieldset" *ngIf="isAnonymousEntry">

        <div class="card mb-3 bg-info text-white">
            <div class="card-body">
                <div class="card-text">
                    <p>
                        If you have an MSQ Quick EntryFormObject or MSQ EntryFormObject Manager account, please
                        Log In, so your personal details can be automatically added
                        to your entry.
                    </p>
                    <p>
                        If you don't have an account you can enter without one or you
                        can register for an account.
                    </p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" (click)="showLogin()"
                    *ngIf="!displayLoginForm && isAnonymousEntry">Log In (optional)</button>
        </div>

        <div *ngIf="displayLoginForm">

            <div class="form-group">
                <div class="row">
                    <label class="form-control-label col-sm-2" for="loginUsername">Username:</label>
                    <input class="form-control col-sm-6" type="text" formControlName="loginUsername" id="loginUsername"/>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label class="form-control-label col-sm-2" for="loginPassword">Password:</label>
                    <input class="form-control col-sm-6" type="password" formControlName="loginPassword" id="loginPassword"/>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" (click)="login()">Log In</button>
                <button type="submit" class="btn btn-secondary" (click)="cancelLogin()">Cancel</button>
            </div>

        </div>


    </fieldset>
</form>
<form [formGroup]="entrantDetailsForm">
    <fieldset class="qe-fieldset">
        <div class="card mb-3 bg-info text-white">
            <div class="card-body">
                <div class="card-text">
                    <p>
                        You can lodge an entry on behalf of yourself or someone else.
                    </p>
                    <p *ngIf="isThirdPartyEntry && isAnonymousEntry">
                        If you are lodging an entry for someone else, please ensure you fill out the
                        "Your Details" section so we can contact you if we need to.
                    </p>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <p class="col-form-legend col-md-6">Is this entry for you or for someone else?
                (required) </p>
            <div class="col-md-6">
                <div class="form-check">
                    <label for="who-me">
                        <input class="form-check-label" type="radio"
                               id="who-me" value="me"
                               formControlName="who" />
                        Me
                    </label>
                </div>
                <div class="form-check">
                    <label for="who-else">
                        <input class="form-check-label" type="radio"
                               id="who-else" value="else"
                               formControlName="who"/>
                        Someone else
                    </label>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="qe-fieldset" *ngIf="isAnonymousEntry || isThirdPartyEntry">
        <h3>
          Entrant Details
        </h3>
        <div class="card mb-3 bg-info text-white">
            <div class="card-body">
                <p class="card-text" *ngIf="!isThirdPartyEntry">
                    We need this information so we can contact you, keep event records and to
                    put you into the correct competition age group.
                </p>
                <p class="card-text" *ngIf="isThirdPartyEntry">
                    We need this information so we can contact the entrant, keep event records and to
                    put the entrant into the correct competition age group.
                </p>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="form-control-label col-sm-2" for="entrantFirstName">First Name (required):</label>
                <input class="form-control col-sm-6" type="text" formControlName="entrantFirstName"
                       id="entrantFirstName" required/>
            </div>
            <div class="row justify-content-end no-gutters">
                <div class="col-sm-10">
                    <div class="card mb-3 bg-warning validation-msg" *ngIf="isInvalid('entrantFirstName')">
                        First name must be supplied.
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
            <label class="form-control-label col-sm-2" for="entrantSurname">Surname (required):</label>
            <input class="form-control col-sm-6" type="text" formControlName="entrantSurname" id="entrantSurname"/>
            </div>
            <div class="row justify-content-end no-gutters">
                <div class="col-sm-10">
                    <div class="card mb-3 bg-warning validation-msg" *ngIf="isInvalid('entrantSurname')">
                        Surname must be supplied.
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
            <label class="form-control-label col-sm-2" for="entrantEmail">Email (required):</label>
            <input class="form-control col-sm-8" type="text" formControlName="entrantEmail" id="entrantEmail"/>
            </div>
            <div class="row justify-content-end no-gutters">
                <div class="col-sm-10">
                    <div class="card mb-3 bg-warning validation-msg" *ngIf="isInvalid('entrantEmail')">
                        Email address must be supplied
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
            <label class="form-control-label col-sm-2" for="entrantPhone">Phone (required):</label>
            <input class="form-control col-sm-6" type="text" formControlName="entrantPhone" id="entrantPhone"/>
            </div>
            <div class="row justify-content-end no-gutters">
                <div class="col-sm-10">
                    <div class="card mb-3 bg-warning validation-msg" *ngIf="isInvalid('entrantPhone')">
                        Phone number must be supplied
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-sm-2" for="entrantDob">Date of Birth (dd/mm/yyyy) (required):</label>
            <input class="form-control col-sm-4" type="date" formControlName="entrantDob" id="entrantDob"/>
        </div>

        <div class="row">
            <p class="col-form-legend col-sm-2">Sex (required):</p>
            <div class="col-sm-10">
                <div class="form-check">
                    <label for="entrant-male">
                        <input class="form-check-label" type="radio" formControlName="entrantGender" id="entrant-male"
                               value="male"
                               checked/>
                        Male
                    </label>
                </div>
                <div class="form-check col-sm10">
                    <label for="entrant-female">
                        <input class="form-check-label" type="radio" formControlName="entrantGender" id="entrant-female"
                               value="female"
                               />
                        Female
                    </label>
                </div>
            </div>
        </div>

    </fieldset>

    <fieldset class="qe-fieldset" id="sectionYourDetails" *ngIf="isThirdPartyEntry && isAnonymousEntry">
        <h3>
            Your Details
        </h3>
        <div class="card mb-3 bg-info text-white">
            <div class="card-body">
                <p class="card-text">
                    We need this information so we can contact you if there are any issues or questions
                    about the entry you are lodging.
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-sm-2" for="userFirstName">First Name (required):</label>
            <input class="form-control col-sm-6" type="text" formControlName="userFirstName" id="userFirstName"/>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-sm-2" for="userSurname">Surname (required):</label>
            <input class="form-control col-sm-6" type="text" formControlName="userSurname" id="userSurname"/>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-sm-2" for="userEmail">Email (required):</label>
            <input class="form-control col-sm-6" type="text" formControlName="userEmail" id="userEmail"/>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-sm-2" for="userPhone">Phone (required):</label>
            <input class="form-control col-sm-6" type="text" formControlName="userPhone" id="userPhone"/>
        </div>

    </fieldset>

    <fieldset class="qe-fieldset" *ngIf="isAnonymousEntry || isThirdPartyEntry">
        <h3>
            Emergency Contact Details
        </h3>
        <div class="card mb-3 bg-info text-white">
            <div class="card-body">
                <p class="card-text" *ngIf="isAnonymousEntry && !isThirdPartyEntry">
                    We need this information in case of a medical emergency, so we can contact an appropriate
                    person on your behalf
                </p>
                <p class="card-text" *ngIf="isThirdPartyEntry">
                    We need this information in case of a medical emergency, so we can contact an appropriate
                    person on behalf of the entrant.
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-sm-2" for="emergencyFirstName">First Name (required):</label>
            <input class="form-control col-sm-10" type="text" formControlName="emergencyFirstName" id="emergencyFirstName"/>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-sm-2" for="emergencySurname">Surname (required):</label>
            <input class="form-control col-sm-10" type="text" formControlName="emergencySurname" id="emergencySurname"/>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-sm-2" for="emergencyEmail">Email:</label>
            <input class="form-control col-sm-10" type="text" formControlName="emergencyEmail" id="emergencyEmail"/>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-sm-2" for="emergencyPhone">Phone (required):</label>
            <input class="form-control col-sm-10" type="text" formControlName="emergencyPhone" id="emergencyPhone"/>
        </div>

    </fieldset>
</form>

<form [formGroup]="inlineRegisterForm">
    <fieldset class="qe-fieldset" *ngIf="isAnonymousEntry">
        <h3>
            Register an Account (Optional)
        </h3>
        <div class="card mb-3 bg-info text-white">
            <div class="card-body">
                <div class="card-tex">
                    <p>
                        If you create an account you won't have to enter your personal details every time
                        you enter a meet.
                    </p>
                    <p>
                        The details you've entered will be saved while you register.
                    </p>
                </div>
            </div>
        </div>
      <div class="form-group row">
        <p class="col-form-legend col-md-6">Do you want to register an account?
          (optional) </p>
        <div class="col-md-6">
          <div class="form-check">
            <label for="registerYes">
              <input class="form-check-label" type="radio"
                     id="registerYes" value="yes"
                     formControlName="register" />
              Yes
            </label>
          </div>
          <div class="form-check">
            <label for="registerNo">
              <input class="form-check-label" type="radio"
                     id="registerNo" value="no"
                     formControlName="register"/>
              No
            </label>
          </div>
        </div>
      </div>
      <div *ngIf="inlineRegisterForm.value.register === 'yes'">
        <div class="form-group row">
            <label for="password" class="form-control-label col-sm-2">Password:</label>
            <input class="form-control col-sm-10" type="password" formControlName="password" id="password"/>
        </div>
        <div class="form-group row">
            <label for="confirmpassword" class="form-control-label col-sm-2">Confirm Password:</label>
            <input class="form-control col-sm-10" type="password" formControlName="confirmpassword" id="confirmpassword"/>
        </div>
        <div class="form-group">
            <p>
                <button type="button" class="btn btn-primary" (click)="register()">Register</button>
            </p>
        </div>
      </div>

    </fieldset>
</form>

  <app-workflow-nav next="/enter/{{meet_id}}/step2" [nextActivated]="formValidSubject.asObservable()" (submitEvent)="onSubmit($event)"></app-workflow-nav>


