<div class="navbar-dark">
  <ul class="nav navbar-nav flex-column h-100 bg-dark">
    <li class="nav-item"><a class="nav-link active" routerLink="/">Current Meets</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="calendar">Meet Calendar</a></li>
    <li class="nav-item" *ngIf="guestRelay"><a class="nav-link" routerLink="guest-relay">Guest Relay</a></li>
    <li class="nav-item" *ngIf="userLoggedIn"><a class="nav-link" routerLink="my-entries">My Entries</a></li>
    <li class="nav-item" *ngIf="userLoggedIn"><a class="nav-link" routerLink="my-profile">My Profile</a></li>
  </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-white" *ngIf="userIsAdmin">
      Administration
    </h6>
  <ul class="nav navbar-nav flex-column h-100 bg-dark" *ngIf="userIsAdmin">
    <li class="nav-item" *ngIf="userIsAdmin"><a class="nav-link" routerLink="meet-entries">Meet Entries</a></li>
    <li class="nav-item" *ngIf="userIsAdmin"><a class="nav-link" routerLink="entrant-contact-list">Meet Entrant Contacts</a></li>
    <li class="nav-item" *ngIf="userIsAdmin"><a class="nav-link" routerLink="pending-entries">Pending Entries</a></li>
    <li class="nav-item" *ngIf="userIsAdmin"><a class="nav-link" routerLink="meet-admin">Meet Administration</a></li>
    <li class="nav-item" *ngIf="userIsAdmin"><a class="nav-link" routerLink="club-admin">Club Administration</a></li>
    <li class="nav-item" *ngIf="userIsAdmin"><a class="nav-link" routerLink="user-admin">User Management</a></li>
    <li class="nav-item" *ngIf="userIsAdmin"><a class="nav-link" routerLink="member-admin/types">Membership Types</a></li>
<!--    <li class="nav-item"><a class="nav-link" routerLink="club-entries">Club Entries</a></li>-->

  </ul>

  <div *ngIf="userLoggedIn">

  <div *ngFor="let club of clubAdmin">
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-white">{{club.club.clubname}}</h6>
    <ul class="nav navbar-nav flex-column h-100 bg-dark">
      <li class="nav-item"><a class="nav-link" routerLink="club-entries/{{club.club_id}}">Club Entries</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="club-relays/{{club.club_id}}">Relay Teams</a></li>
    </ul>
  </div>

  <div *ngFor="let meet of meetsOrganising">
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-white">{{meet.meetname}}</h6>
    <ul class="nav navbar-nav flex-column h-100 bg-dark">
      <li class="nav-item"><a class="nav-link" routerLink="meet-organiser/{{meet.id}}/dashboard">Meet Dashboard</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="meet-organiser/{{meet.id}}/entry-list">Entry List</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="meet-organiser/{{meet.id}}/pending-entries">Pending Entries</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="meet-organiser/{{meet.id}}/contacts">Entrant Contact List</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="meet-organiser/{{meet.id}}/emergency">Emergency Contact List</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="meet-organiser/{{meet.id}}/meals">Meal Purchases</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="meet-organiser/{{meet.id}}/merchandise">Merchandise</a></li>
    </ul>
  </div>
  </div>
</div>
