<div class="card card-block mb-3" [formGroup]="eventEntryForm">
  <div class="row  align-items-center no-gutters">
    <div class="col-md-2 h-100 eventSelect">
      <button type="button" [className]="enterClass" (click)="clickEnter()" (mouseenter)="mouseEnter()"
              (mouseleave)="mouseLeave()" id="btnEnter">
        <fa-icon [icon]="btnIconClass"></fa-icon> {{enterText}}</button>
    </div>
    <div class="col-md-1 eventNumber h-100">
      {{meetEvent.prognumber}}
    </div>
    <div class="col-md-9 h-100">
      <div class="card-body">
        <label for="event_{{meetEvent.id}}" class="form-check-label">
          <span class="eventName">
          <span *ngIf="meetEvent.legs && meetEvent.legs">{{meetEvent.legs}}x</span>{{meetEvent.distance}} {{meetEvent.discipline}}
            </span>
          <br/>{{meetEvent.type}}
        </label>

        <div class="card mb-3 bg-info text-white" *ngIf="meetEvent.type === 'Mixed Postal' && eventSelected()">
          <div class="card-body">
            <p class="card-text">
              No seed time is required for this event. Please ensure you lodge a postal form
              for this event with your Club Captain.
            </p>
          </div>
        </div>
        <div class="card mb-3 bg-info text-white" *ngIf="meetEvent.type.includes('Relay') && eventSelected()">
          <div class="card-body">
            <p class="card-text">
              Nominating for a relay team does not necessarily mean you'll be placed in a team. It simply indicates
              to the meet organisers and your club captain that you would like to be entered into a team for this
              event. Check with your Club Captain or the Meet Organisers to ensure you are placed in a team.
            </p>
          </div>
        </div>

        <div class="input-group" *ngIf="eventSelected() && meetEvent.type === 'Seeded Individual Mixed Timed Finals'">
          <label for="event_{{meetEvent.id}}_seedtime" class="col-sm-2 col-form-label">Seed Time:</label>
          <input type="text" class="form-control col-sm-4" id="event_{{meetEvent.id}}_seedtime" formControlName="seedtime">
          <div class="input-group-append">
            <button class="btn btn-outline-info">PB</button>
            <button class="btn btn-outline-info">LT</button>
            <button class="btn btn-outline-info">More</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

