<div class="col-md-6 col-md-offset-3">
  <div class="alert alert-info">
    If you already have an MSQ Community Forum or Entry Manager username and password, you can
    log in with these details here.
  </div>
  <h2>Quick Entry Login</h2>
  <div *ngIf="error" class="alert alert-danger">
    Username or password is invalid. If you cannot remember your username or password, or are
    having problems logging in, please contact <a href="mailto:recorder@mastersswimmingqld.org.au">
    the Branch Recorder</a>.
  </div>
  <p *ngFor="let alert of alerts">
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
  </p>
  <form name="form" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <label for="username">Username or Email Address:</label>
      <input type="text" class="form-control" id="username" name="username" [(ngModel)]="model.username" #username="ngModel" required />
      <div *ngIf="f.submitted && !username.valid" class="help-block">Username or email address is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
      <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
    </div>
    <div class="form-check mb-2">
      <input type="checkbox" class="form-check-input" id="keepmeloggedin" name="keepmeloggedin"
             [(ngModel)]="model.keepmeloggedin" #keepmeloggedin="ngModel" [checked]="saveLogin" />
      <label class="form-check-label" for="keepmeloggedin">Keep me logged in for one year</label>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary" (click)="login()">Login</button>
      &nbsp;
      <button [disabled]="loading" class="btn btn-warning" (click)="clickPasswordReset()">Forgot Password</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
  </form>
</div>

<ng-template #confirmPasswordReset let-modal>
  <form name="passwordForm" #resetForm="ngForm" novalidate>
  <div class="modal-header">
    <h4 class="modal-title" id="send-password-title">Send Password Reset</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card bg-info text-white">
      <div class="card-body">
      <p>Please provide your email address below. If an account exists registered with that email address, you
      will be sent an email with a link to reset your password.</p>
      </div>
    </div>
    <div class="form-group mt-2">
      <div class="row">
        <label class="form-control-label col-sm-2" for="resetEmail">Email Address: </label>
        <input class="form-control col-sm-6" type="text" id="resetEmail" name="resetEmail"
               [(ngModel)]="modelReset.resetEmail" #resetEmail="ngModel" required/>
      </div>
    </div>
  </div>
  </form>
  <div class="modal-footer">
    <button class="btn-warning" (click)="modal.close('send')">Send Password Reset Email</button>
    <button class="btn-primary" (click)="modal.close('cancel')">Cancel</button>
  </div>

</ng-template>
