<div class="row">
  <div class="col-xs-12">
    <h1>{{meetName}}</h1>
    <h2>Emergency Contact List</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <ag-grid-angular
      style="width: 100%; height: 40em"
      class="ag-theme-alpine"
      [rowData]="emergencyContactRows"
      [columnDefs]="emergencyContactFields"
      [paginationAutoPageSize]="true"
      [pagination]="true"
      (gridReady)="onGridReady($event)"
      (firstDataRendered)="onFirstDataRendered($event)"
      #orderTable>
    </ag-grid-angular>
  </div>
</div>

<div class="row mt-2">
<div class="col-sm-4 text-right">
  <button class="btn btn-primary ml-1" (click)="exportExportEmergencyContacts()">Export as CSV</button>
</div>
</div>

<div class="row mt-2">
<div class="card col-sm-12 mb-3 bg-info text-white">
  <div class="card-body">
    <p>
      Emergency Contacts from pending entries will not be shown.
    </p>
  </div>
</div>
</div>
