<div class="row">
  <div class="col-xs-12">
    <h1>My Profile</h1>
  </div>
</div>

<div class="confirmationSection" *ngIf="user !== undefined && user !== null">
  <h3>Your Details</h3>
  <div class="row">
    <div class="fieldName col-sm-3">
      Surname
    </div>
    <div class="fieldValue">
      {{user.surname}}
    </div>
  </div>
  <div class="row">
    <div class="fieldName col-sm-3">
      Firstname:
    </div>
    <div class="fieldValue">
      {{user.firstname}}
    </div>
  </div>
  <div class="row">
    <div class="fieldName col-sm-3">
      Username:
    </div>
    <div class="fieldValue">
      {{user.username}}
    </div>
  </div>
  <div class="row">
    <div class="fieldName col-sm-3">
      Email Address:
    </div>
    <div class="fieldValue">
      {{user.email}}
    </div>
  </div>
  <div class="row">
    <div class="fieldName col-sm-3">
      Phone Number:
    </div>
    <div class="fieldValue">
      {{user.phone}}
    </div>
  </div>
  <div class="row">
    <div class="fieldName col-sm-3">
      Date of Birth:
    </div>
    <div class="fieldValue">
      {{user.dob}}
    </div>
  </div>
  <div class="row">
    <div class="fieldName col-sm-3">
      Gender
    </div>
    <div class="fieldValue">
      {{user.gender}}
    </div>
  </div>
</div>

<div class="confirmationSection">
  <h3>Emergency Contact</h3>
  <div class="row">
    <div class="fieldName col-sm-3">
      Surname
    </div>
    <div class="fieldValue">
      {{user.emergency_surname}}
    </div>
  </div>
  <div class="row">
    <div class="fieldName col-sm-3">
      Firstname:
    </div>
    <div class="fieldValue">
      {{user.emergency_firstname}}
    </div>
  </div>
   <div class="row">
    <div class="fieldName col-sm-3">
      Email Address:
    </div>
    <div class="fieldValue">
      {{user.emergency_email}}
    </div>
  </div>
  <div class="row">
    <div class="fieldName col-sm-3">
      Phone Number:
    </div>
    <div class="fieldValue">
      {{user.emergency_phone}}
    </div>
  </div>
</div>

  <div class="card mb-3 bg-info text-white" *ngIf="user === undefined || user === null">
    <div class="card-body">
      <p class="card-text">
        Please log in again to access your profile.
      </p>
    </div>
  </div>

