<div class="row">
  <div class="col-xs-12">
    <h1>Pending Entry List</h1>
  </div>
</div>

<form [formGroup]="meetSelectorForm">
  <fieldset class="qe-fieldset">
    <div class="form-group row">
      <label for="meet-year" class="form-control-label col-sm-6">Year: </label>
      <select id="meet-year" class="form-control col-sm-6" formControlName="meetYear">
        <option value="2019">2019</option>
      </select>
    </div>
    <div class="form-group row">
      <label for="meet" class="form-control-label col-sm-6">Meet: </label>
      <select id="meet" class="form-control col-sm-6" formControlName="meet">
        <option value="{{meet.id}}" *ngFor="let meet of meets">{{meet.meetname}}</option>
      </select>
    </div>
  </fieldset>
</form>

<ngx-datatable
  #entryTable
  class="bootstrap"

  rowHeight="40px"
  [rows]="tableRows">
  <ngx-datatable-column name="Pending ID">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.id}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Entrant" prop="Entrant">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.Entrant}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Club">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <abbr title="{{row.clubname}}">{{row.Club}}</abbr>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Status" prop="Status">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.Status}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Pending Reason" prop="Reason">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.Reason}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Updated" prop="Updated">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.Updated}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Options">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <button class="btn btn-primary" (click)="actionEntry(row.id)">Action</button>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
