<div class="row">
  <div class="col-xs-12">
    <h1>Pending Entry List</h1>
  </div>
</div>

<app-meet-selector></app-meet-selector>

<form [formGroup]="listControl">
  <div class="card">
    <div class="card-header">
    <h2>Display Options</h2>
    </div>
    <div class="card-body">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="showCancelled" value="showCancelled" formControlName="showCancelled">
        <label class="form-check-label" for="showCancelled">Show Cancelled</label>
      </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="showPending" value="showPending" formControlName="showPending">
      <label class="form-check-label" for="showPending">Show Pending</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="showFinalised" value="showFinalised" formControlName="showFinalised">
      <label class="form-check-label" for="showFinalised">Show Finalised</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="showIncomplete" value="showIncomplete" formControlName="showIncomplete">
      <label class="form-check-label" for="showIncomplete">Show Incomplete</label>
    </div>
  </div>
  </div>
</form>

<ngx-datatable
  #entryTable
  class="bootstrap"

  rowHeight="40px"
  [rows]="tableRows">
  <ngx-datatable-column name="Pending ID">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.id}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Entrant" prop="Entrant">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.Entrant}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Club">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <abbr title="{{row.clubname}}">{{row.Club}}</abbr>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Status" prop="Status">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.Status}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Pending Reason" prop="Reason">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.Reason}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Updated" prop="Updated">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.Updated}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Options">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <button class="btn btn-primary" (click)="actionEntry(row.code)">Action</button>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
