<div class="row">
  <div class="col-xs-12">
    <h1>{{meetName}}</h1>
    <h2>Pending Entries</h2>
  </div>
</div>
<div class="card mb-3 bg-info text-white">
  <div class="card-body">
    <p>
      This list contains entries that still require checking and processing before they can be accepted.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body text-center">
        <div class="dashboard-number">
          {{totalProcessedEntries}}
        </div>
        <div class="dashboard-caption">
          Total Pending Entries
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body text-center">
        <div class="dashboard-number">
          {{totalPendingEntries}}
        </div>
        <div class="dashboard-caption">
          Paid Pending Entries
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body text-center">
        <div class="dashboard-number">
          {{totalPendingEntries}}
        </div>
        <div class="dashboard-caption">
          Pending Entries
        </div>
      </div>
    </div>
  </div>
</div>
<form [formGroup]="tableControl">
  <nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <div class="dropdown" ngbDropdown>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
          Export...
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
          <a class="dropdown-item" href="#" ngbDropdownItem>CSV</a>
          <a class="dropdown-item" href="#" ngbDropdownItem>Excel</a>
          <a class="dropdown-item" href="#" ngbDropdownItem>PDF</a>
        </div>
      </div>
      <!--    <form class="form-inline my-2 my-lg-0">-->
      <div class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" (keyup)="updateFilter($event)">
      </div>
      <!--    </form>-->
      <div class="form-inline">
        <label for="limit" class="pr-1">Show Items:</label>
        <select id="limit" class="form-control" formControlName="limit">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="all">All</option>
        </select>
      </div>
    </div>
  </nav>
  <div class="row">
    <div class="col-sm-12">
      <ngx-datatable class="bootstrap" [rows]="entryTable" [columns]="entryColumns" rowHeight="auto"
                     [footerHeight]="30"
                     [limit]="limit"
                     columnMode="flex" #table>
        <ngx-datatable-column name="Entry ID" headerClass="text-center" cellClass="text-center" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.meet_entries_id}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Date/Time" headerClass="text-center" cellClass="text-center" [flexGrow]="2">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.updated_at | date: 'd/M/yyyy h:mm a'}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Entrant" [flexGrow]="3">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.member_details}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Club" headerClass="text-center" cellClass="text-center" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <abbr title="{{row.club_name}}">{{row.club_code}}</abbr>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Entry Status" headerClass="text-center" cellClass="text-center" [flexGrow]="2">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.entry_status}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Reason" [flexGrow]="3">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.reason}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Ex GST" headerClass="text-right" cellClass="text-right" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.ex_gst | currency}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Inc GST" headerClass="text-right" cellClass="text-right" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.inc_gst | currency}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Paid" headerClass="text-right" cellClass="text-right" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.paid | currency}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Action" headerClass="text-right" cellClass="text-right" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a routerLink="{{row.meet_entries_id}}">View</a>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</form>

