<div class="row">
  <div class="col-xs-12">
    <h1>Edit User</h1>
  </div>
</div>

<p *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
</p>

<div *ngIf="user">

  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="save()">Save Changes</button>
      <button class="btn btn-secondary" (click)="cancel()" *ngIf="!showClose">Cancel</button>
      <button class="btn btn-secondary" (click)="cancel()" *ngIf="showClose">Close</button>
    </div>
  </div>
  <form [formGroup]="userForm">
    <fieldset class="qe-fieldset">
      <h2>Username and Password</h2>
      <div class="form-group">
        <div class="row">
          <label class="form-control-label col-sm-2">User ID:</label>
          {{user.id}}
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <label class="form-control-label col-sm-2" for="username">Username:</label>
          <input class="form-control col-sm-6" type="text" formControlName="username" id="username"/>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <label class="form-control-label col-sm-2">Password:</label>
          <button class="btn btn-warning" (click)="passwordGenerate()">Generate New Password</button>&nbsp;
          <button class="btn btn-warning" (click)="passwordReset()">Send Password Reset</button>
        </div>
      </div>

    </fieldset>

    <fieldset class="qe-fieldset">
      <h2>User Details</h2>
      <div class="form-group">
        <div class="row">
          <label class="form-control-label col-sm-2" for="firstName">First name:</label>
          <input class="form-control col-sm-6" type="text" formControlName="firstName" id="firstName"/>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <label class="form-control-label col-sm-2" for="surname">Surname:</label>
          <input class="form-control col-sm-6" type="text" formControlName="surname" id="surname"/>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <label class="form-control-label col-sm-2" for="email">Email:</label>
          <input class="form-control col-sm-6" type="text" formControlName="email" id="email"/>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <label class="form-control-label col-sm-2">Linked Member:</label>

          <div class="col-sm-10" *ngIf="!user.member">
            <span>No member linked</span>
            <div>
              <button class="btn btn-primary" (click)="memberSearch()">Member Search</button>
            </div>
          </div>

          <div class="col-sm-10">
            <div class="card" *ngIf="member">
              <div class="card-header">{{member.surname}}, {{member.firstname}}</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">Member Number:</div>
                  <div class="col-sm-9">{{member.number}}</div>
                </div>
                <div class="row">
                  <div class="col-sm-3">Member ID:</div>
                  <div class="col-sm-9">{{member.id}}</div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <button class="btn btn-warning" (click)="unlinkMemberClick()">Unlink Member</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </fieldset>

    <div class="card bg-info">
      <div class="card-body text-white">
        If the user is linked to a member, the contact and emergency details from the user's membership will be used
        for meet entries.
      </div>
    </div>

    <fieldset class="qe-fieldset">
      <h2>Contact Details</h2>
      <div class="form-group">
        <div class="row">
          <label class="form-control-label col-sm-2" for="phone">Phone:</label>
          <input class="form-control col-sm-6" type="text" formControlName="phone" id="phone"/>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <label class="form-control-label col-sm-2" for="gender">Gender:</label>
          <input class="form-control col-sm-6" type="text" formControlName="gender" id="gender"/>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <label class="form-control-label col-sm-2" for="dob">Date of Birth:</label>
          <input class="form-control col-sm-6" type="text" formControlName="dob" id="dob"/>
        </div>
      </div>

    </fieldset>

    <fieldset class="qe-fieldset">
      <h2>Emergency Contact Details</h2>
      <div class="form-group">
        <div class="row">
          <label class="form-control-label col-sm-2" for="emergencyFirstName">First Name:</label>
          <input class="form-control col-sm-6" type="text" formControlName="emergencyFirstName"
                 id="emergencyFirstName"/>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <label class="form-control-label col-sm-2" for="emergencySurname">Surname:</label>
          <input class="form-control col-sm-6" type="text" formControlName="emergencySurname" id="emergencySurname"/>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <label class="form-control-label col-sm-2" for="emergencyPhone">Phone:</label>
          <input class="form-control col-sm-6" type="text" formControlName="emergencyPhone" id="emergencyPhone"/>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <label class="form-control-label col-sm-2" for="emergencyEmail">Email:</label>
          <input class="form-control col-sm-6" type="text" formControlName="emergencyEmail" id="emergencyEmail"/>
        </div>
      </div>

    </fieldset>
  </form>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="save()">Save Changes</button>
      <button class="btn btn-secondary" (click)="cancel()" *ngIf="!showClose">Cancel</button>
      <button class="btn btn-secondary" (click)="cancel()" *ngIf="showClose">Close</button>
    </div>
  </div>


</div>

<ng-template #linkMember let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal6-basic-title">Link Member</h4>
  </div>
  <div class="modal-body">
    <app-member-search (onMemberPicked)="linkMemberPicked($event)" showDob="true" [searchPrefill]="prefillUser"></app-member-search>
    <hr />
    <div class="row">
      <div class="fieldName col-sm-3">
        Member Selected:
      </div>
      <div class="fieldValue col-sm-9">
        {{linkMemberDetails}}
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Link Member')" [disabled]="linkMemberDisabled">Link Member</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close('Cancel')">Cancel</button>
  </div>
</ng-template>

<ng-template #unlinkMember let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="unlink-member-title">Unlink Member</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card bg-info text-white my-2">
      <div class="card-body">
      <p class="card-text">Unlinking this member will mean they will need to manually enter details when entering meets. Only unlink a
        member if they are linked to the wrong user. Multiple usernames can be linked to the one member with a problem.
      </p>
      </div>
    </div>
    <p>Are you sure you want to unlink {{user.firstname}} {{user.surname}}?</p>
  </div>
  <div class="modal-footer">
    <button class="btn-warning" (click)="modal.close('Yes')">Yes</button>
    <button class="btn-primary" (click)="modal.close('No')">No</button>
    <!--    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>-->
  </div>
</ng-template>
