<div class="row">
  <div class="col-xs-12">
    <h1>View User</h1>
  </div>
</div>

<div class="row" *ngIf="user">
  <div class="col-xs-12">
    <h2>{{user.username}}</h2>
  </div>
</div>

<p *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
</p>

<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="edit()">Edit User</button>
    <button class="btn btn-secondary" (click)="cancel()">Back to User Administration</button>
  </div>
</div>

<div class="card mb-1 bg-danger" *ngIf="noUser">
  <div class="card-body text-white">
    No user loaded.
  </div>
</div>

<div *ngIf="user">
  <div class="row my-3">
    <div class="card bg-success col-sm-12" *ngIf="memberLinked()">
      <div class="card-body text-white p-1">
        <h2 class="m-0"><i class="bi bi-check-circle-fill"></i>&nbsp; Linked</h2>
      </div>
    </div>

    <div class="card bg-danger col-sm-12" *ngIf="!memberLinked()">
      <div class="card-body text-white p-1">
        <h2 class="m-0"><i class="bi bi-x-circle-fill"></i>Not Linked</h2>
      </div>
    </div>
  </div>
</div>

<div class="card mb-1" *ngIf="user">
  <div class="card-header py-1">
    <h3 class="mb-0">User Details</h3>
  </div>
  <div class="card-body">
    <div class="row">

      <div class="fieldName col-sm-3">
        User ID:
      </div>
      <div class="fieldValue">
        {{userId}}
      </div>
    </div>
    <div class="row">
      <div class="fieldName col-sm-3">
        Username:
      </div>
      <div class="fieldValue">
        {{user.username}}
      </div>
    </div>
    <div class="row">
      <div class="fieldName col-sm-3">
        Member Linked:
      </div>
      <div class="fieldValue">
        {{memberLinked() ? 'Yes' : 'No'}}
      </div>
    </div>
    <div class="row">
      <div class="fieldName col-sm-3">
        Is Admin:
      </div>
      <div class="fieldValue">
        {{user.is_admin ? 'Yes' : 'No'}}
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="fieldName col-sm-3">
          <label class="form-control-label">Password:</label>
        </div>
        <div class="fieldValue">
          <button class="btn btn-warning" (click)="passwordGenerate()">Generate New Password</button>&nbsp;
          <button class="btn btn-warning" (click)="passwordReset()">Send Password Reset</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="fieldName col-sm-3">
        Created At:
      </div>
      <div class="fieldValue">
        {{user.created_at | date: 'd/M/yyyy h:mm a'}}
      </div>
    </div>
    <div class="row">
      <div class="fieldName col-sm-3">
        Updated At:
      </div>
      <div class="fieldValue">
        {{user.updated_at | date: 'd/M/yyyy h:mm a'}}
      </div>
    </div>
    <div class="row">
      <div class="fieldName col-sm-3">
        Last Login:
      </div>
      <div class="fieldValue">
        {{user.last_login | date: 'd/M/yyyy h:mm a'}}
      </div>
    </div>
    <div class="row">
      <div class="fieldName col-sm-3">
        Last Active:
      </div>
      <div class="fieldValue">
        {{user.last_active | date: 'd/M/yyyy h:mm a'}}
      </div>
    </div>
  </div>


</div>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="card mb-1" *ngIf="member">
      <div class="card-header py-1">
        <h3 class="mb-0">Member Details</h3>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="fieldName col-sm-3 col-md-4">
            First Name:
          </div>
          <div class="fieldValue">
            {{member.firstname}}
          </div>
        </div>
        <div class="row">
          <div class="fieldName col-sm-3 col-md-4">
            Other Names:
          </div>
          <div class="fieldValue">
            {{member.othernames}}
          </div>
        </div>
        <div class="row">
          <div class="fieldName col-sm-3 col-md-4">
            Surname:
          </div>
          <div class="fieldValue">
            {{member.surname}}
          </div>
        </div>
        <div class="row">
          <div class="fieldName col-sm-3 col-md-4">
            MSA Number:
          </div>
          <div class="fieldValue">
            {{member.number}}
          </div>
        </div>
        <div class="row">
          <div class="fieldName col-sm-3 col-md-4">
            Date of Birth:
          </div>
          <div class="fieldValue">
            {{member.dob | date: 'd/M/yyyy'}}
          </div>
        </div>
        <div class="row">
          <div class="fieldName col-sm-3 col-md-4">
            Gender:
          </div>
          <div class="fieldValue">
            {{member.gender === 1 ? 'Male' : 'Female'}}
          </div>
        </div>
        <div class="row">
          <div class="fieldName col-sm-3 col-md-4">
            Phone:
          </div>
          <div class="fieldValue">
            <div *ngFor="let phone of member.phones">
              <a href="tel://{{phone.phonenumber}}">{{phone.phonenumber}}</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="fieldName col-sm-3 col-md-4">
            Email:
          </div>
          <div class="fieldValue">
            <div *ngFor="let email of member.emails">
              <a href="maito://{{email.address}}">{{email.address}}</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="card mb-1" *ngIf="member">
      <div class="card-header py-1">
        <h3 class="mb-0">Emergency Contact Details</h3>
      </div>

      <div class="card-body" *ngIf="member.emergency">
        <div class="row">
          <div class="fieldName col-sm-3 col-md-4">
            First Name:
          </div>
          <div class="fieldValue">
            {{member.emergency.firstname}}
          </div>
        </div>
        <div class="row">
          <div class="fieldName col-sm-3 col-md-4">
            Surname:
          </div>
          <div class="fieldValue">
            {{member.emergency.surname}}
          </div>
        </div>
        <div class="row">
          <div class="fieldName col-sm-3 col-md-4">
            Phone:
          </div>
          <div class="fieldValue">
            <a href="tel://{{member.emergency.phonenumber}}">{{member.emergency.phonenumber}}</a>
          </div>
        </div>
        <div class="row">
          <div class="fieldName col-sm-3 col-md-4">
            Updated At:
          </div>
          <div class="fieldValue">
            {{member.emergency.updated_at | date: 'd/M/yyyy h:mm a'}}
          </div>
        </div>
      </div>

    </div>
  </div>

</div>



<div class="card bg-info text-white col-sm-12 mt-3 mb-1" *ngIf="memberLinked()">
  <div class="card-body">
    The following cards show information the user has supplied on their user account. This information is used for:
    <ul>
      <li>Searching for and linking the user to their membership</li>
      <li>Interstate Masters members</li>
      <li>Overseas Masters members</li>
      <li>Guest members</li>
      <li>Non members</li>
    </ul>
    As this user is linked to a member, the details supplied by the membership are used.
  </div>
</div>

<div class="row">

  <div class="col-md-6 col-sm-12">

    <div class="card mb-1" *ngIf="user">
      <div class="card-header py-1">
        <h3 class="mb-0">User Details</h3>
      </div>
      <div class="card-body pt-1">
        <div class="row">
          <div class="card bg-warning col-sm-12" *ngIf="memberLinked()">
            <div class="card-body p-1">
              <i class="bi bi-info-circle-fill"></i> As this user is linked to a member, these details are not in use.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="fieldName col-sm-3 col-md-4">
            First Name:
          </div>
          <div class="fieldValue">
            {{user.firstname}}
          </div>
        </div>
        <div class="row">
          <div class="fieldName col-sm-3 col-md-4">
            Surname:
          </div>
          <div class="fieldValue">
            {{user.surname}}
          </div>
        </div>
        <div class="row">
          <div class="fieldName col-sm-3 col-md-4">
            Email:
          </div>
          <div class="fieldValue">
            <a href="mailto:{{user.email}}">{{user.email}}</a>
          </div>
        </div>
        <div class="row">
          <div class="fieldName col-sm-3 col-md-4">
            Date of Birth:
          </div>
          <div class="fieldValue">
            {{user.dob | date: 'd/M/yyyy'}}
          </div>
        </div>
        <div class="row">
          <div class="fieldName col-sm-3 col-md-4">
            Gender:
          </div>
          <div class="fieldValue">
            {{user.gender}}
          </div>
        </div>
        <div class="row">
          <div class="fieldName col-sm-3 col-md-4">
            Phone:
          </div>
          <div class="fieldValue">
            <a href="tel:{{user.phone}}">{{user.phone}}</a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-6 col-sm-12">

    <div class="card mb-1" *ngIf="user">
      <div class="card-header py-1">
        <h3 class="mb-0">User Emergency Contact Details</h3>
      </div>
      <div class="card-body pt-1">
        <div class="row">
          <div class="card bg-warning col-sm-12" *ngIf="memberLinked()">
            <div class="card-body p-1">
              <i class="bi bi-info-circle-fill"></i> As this user is linked to a member, these details are not in use.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="fieldName col-sm-3 col-md-4">
            First Name:
          </div>
          <div class="fieldValue">
            {{user.emergency_firstname}}
          </div>
        </div>
        <div class="row">
          <div class="fieldName col-sm-3 col-md-4">
            Surname:
          </div>
          <div class="fieldValue">
            {{user.emergency_surname}}
          </div>
        </div>
        <div class="row">
          <div class="fieldName col-sm-3 col-md-4">
            Email:
          </div>
          <div class="fieldValue">
            <a href="mailto:{{user.emergency_email}}">{{user.emergency_email}}</a>
          </div>
        </div>
        <div class="row">
          <div class="fieldName col-sm-3 col-md-4">
            Phone:
          </div>
          <div class="fieldValue">
            <a href="tel:{{user.emergency_phone}}">{{user.emergency_phone}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="edit()">Edit User</button>
    <button class="btn btn-secondary" (click)="cancel()">Back to User Administration</button>
  </div>
</div>

<ng-template #confirmPasswordReset let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="send-password-title">Send Password Reset</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card bg-info text-white">
      <p>Sending a password reset email will not immediately change the user's password, but will send a token to the
        user's email address that they can use change their own password.</p>
      <p>If the user remembers their password before
        resetting their password, they can still log in and continue to use their old password.</p>
    </div>
    <p>Are you sure you want to send a password reset email to {{user.firstname}} {{user.surname}}
      &lt;{{user.email}}&gt;?</p>
  </div>
  <div class="modal-footer">
    <button class="btn-warning" (click)="modal.close('send')">Yes</button>
    <button class="btn-primary" (click)="modal.close('cancel')">No</button>
    <!--    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>-->
  </div>
</ng-template>

<ng-template #generateNewPassword let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="generate-new-password">Generate New Password</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card bg-info text-white">
      <div class="card-body">
        <p>Clicking Generate Password will automatically create a random password. Please check that the new
          password is appropriate before giving it to the user. </p>
        <p>Clicking Save Changes will automatically change the password and send an email to {{user.firstname}}
          {{user.surname}} with the new password details. </p>
      </div>
    </div>
    <form [formGroup]="generatePasswordForm">
      <div class="form-group">
        <div class="row">
          <label class="form-control-label col-sm-2" for="newPassword">New Password: </label>
          <input class="form-control col-sm-6" type="text" formControlName="newPassword" id="newPassword"/>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <button class="btn btn-primary" (click)="generateRandomPassword()">Generate Password</button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn-danger" (click)="modal.close('save')">Save Changes</button>
    <button class="btn-primary" (click)="modal.close('cancel')">Cancel</button>
    <!--    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>-->
  </div>
</ng-template>
