<div class="row">
  <div class="col-xs-12">
    <h1>Guest Relay Team Application</h1>
  </div>
</div>

<p *ngFor="let alert of paymentAlerts">
  <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
</p>


<form [formGroup]="relayForm">
  <div class="form-group row">
    <div class="col-sm-2 col-form-label text-right"
           id="relayMeetLbl">Meet:</div>
    <div class="col-sm-10">
      {{meet.meetname}}
    </div>
  </div>

  <div class="form-group row">
    <label for="relayEvent" class="col-sm-2 col-form-label text-right"
           id="relayEventLbl">Event:</label>
    <div class="col-sm-10">
      <select name="relayEvent" id="relayEvent" class="form-control" formControlName="relayEvent">
        <option value="{{relayEvent.id}}" *ngFor="let relayEvent of relayEvents">
          {{getEventDetails(relayEvent)}}
        </option>
      </select>
    </div>
  </div>

  <div *ngIf="this.meetEvent">

    <div class="card mb-3 bg-info text-white">
      <div class="card-body">
        <p class="card-text">
          To apply to create an unattached or mixed club relay team, please fill out the form below.
          Please provide your contact details, as the person submitting the relay team.
        </p>
        <p class="card-text">
          <strong>Note: </strong>All relay team members must havel also submitted their own individual meet entry, via
          the Enter Meet option on the Current Meets page.
        </p>
      </div>
    </div>

    <div class="form-group row">
      <label for="contactFirstName" class="col-sm-2 col-form-label text-right">First Name: </label>
      <div class="col-sm-10">
        <input type="text" name="contactFirstName" id="contactFirstName" size="40" class="form-control" formControlName="contactFirstName" />
      </div>
    </div>

    <div class="form-group row">
      <label for="contactSurname" class="col-sm-2 col-form-label text-right">Surname: </label>
      <div class="col-sm-10">
        <input type="text" name="contactSurname" id="contactSurname" size="40" class="form-control" formControlName="contactSurname" />
      </div>
    </div>

    <div class="form-group row">
      <label for="contactEmail" class="col-sm-2 col-form-label text-right">Email Address: </label>
      <div class="col-sm-10">
        <input type="text" name="contactEmail" id="contactEmail" size="40" class="form-control" formControlName="contactEmail" />
      </div>
    </div>

    <div class="form-group row">
      <label for="contactMobile" class="col-sm-2 col-form-label text-right">Mobile Number: </label>
      <div class="col-sm-10">
        <input type="text" name="contactMobile" id="contactMobile" size="40" class="form-control" formControlName="contactMobile" />
      </div>
    </div>

    <div class="card mb-3 bg-info text-white">
      <div class="card-body">
        <p class="card-text">
          Your relay team will automatically receive a name based on your club code and age group.
          You can also give your team an additional fun/team name e.g. "Bob's Awesome Team".
        </p>
      </div>
    </div>

    <div class="form-group row">
      <label for="newTeamName" class="col-sm-2 col-form-label text-right">Team Name: </label>
      <div class="col-sm-10">
        <input type="text" name="newTeamName" id="newTeamName" size="40" class="form-control" formControlName="teamName" /> optional
      </div>
    </div>

    <div class="card mb-3 bg-info text-white">
      <div class="card-body">
        <p class="card-text">
          You must provide the first name, surname, age and mobile phone number of all relay team members. For reasons of
          privacy we will not provide you any details of other competitors on this form.
        </p>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-2 col-form-label text-right"
             id="lblSwimmer1">Swimmer 1:</div>
      <div class="col-sm-10">
        <label>First Name:</label>
        <input type="text" class="form-control" formControlName="swimmer1FirstName">
        <label>Surname:</label>
        <input type="text" class="form-control" formControlName="swimmer1Surname">
        <label>Age:</label>
        <input type="text" class="form-control" formControlName="swimmer1Age">
        <label>Mobile Number:</label>
        <input type="text" class="form-control" formControlName="swimmer1Mobile">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-2 col-form-label text-right"
           id="lblSwimmer2">Swimmer 2:</div>
      <div class="col-sm-10">
        <label>First Name:</label>
        <input type="text" class="form-control" formControlName="swimmer2FirstName">
        <label>Surname:</label>
        <input type="text" class="form-control" formControlName="swimmer2Surname">
        <label>Age:</label>
        <input type="text" class="form-control" formControlName="swimmer2Age">
        <label>Mobile Number:</label>
        <input type="text" class="form-control" formControlName="swimmer2Mobile">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-2 col-form-label text-right"
           id="lblSwimmer3">Swimmer 3:</div>
      <div class="col-sm-10">
        <label>First Name:</label>
        <input type="text" class="form-control" formControlName="swimmer3FirstName">
        <label>Surname:</label>
        <input type="text" class="form-control" formControlName="swimmer3Surname">
        <label>Age:</label>
        <input type="text" class="form-control" formControlName="swimmer3Age">
        <label>Mobile Number:</label>
        <input type="text" class="form-control" formControlName="swimmer3Mobile">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-2 col-form-label text-right"
           id="lblSwimmer4">Swimmer 4:</div>
      <div class="col-sm-10">
        <label>First Name:</label>
        <input type="text" class="form-control" formControlName="swimmer4FirstName">
        <label>Surname:</label>
        <input type="text" class="form-control" formControlName="swimmer4Surname">
        <label>Age:</label>
        <input type="text" class="form-control" formControlName="swimmer4Age">
        <label>Mobile Number:</label>
        <input type="text" class="form-control" formControlName="swimmer4Mobile">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-2 col-form-label text-right">Total Age: </div>
      <div class="col-sm-10">
        Age
      </div>
    </div>

    <div class="form-group row">
      <label for="newTeamSeedTime" class="col-sm-2 col-form-label text-right">Seed time:</label>
      <div class="col-sm-10">
        <input type="text" name="newTeamSeedTime" id="newTeamSeedTime" size="40" class="form-control"
               formControlName="seedTime" (blur)="fixSeedTime()" /> optional
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-2 col-form-label text-right">
        Are all swimmers current financial Masters Swimming Australia members?
      </div>
      <div class="col-sm-10">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="memberRelay" id="members_yes" value="yes" formControlName="memberRelay">
          <label class="form-check-label" for="members_yes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="memberRelay" id="members_no" value="no" formControlName="memberRelay">
          <label class="form-check-label" for="members_no">No</label>
        </div>
      </div>
    </div>


    <div class="form-group row">
      <div class="col-sm-2 col-form-label text-right">Team Entry Fee: </div>
      <div class="col-sm-10">
<!--        <span *ngIf="membersOnly">{{this.eventFee | currency}}</span>-->
<!--        <span *ngIf="!membersOnly">{{this.eventFeeNonMember | currency}}</span>-->

        {{getOwed() | currency}}
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-2 col-form-label text-right">Submit Entry and Make Payment: </div>

      <ngx-paypal [config]="payPalConfig" *ngIf="relayForm.touched && relayForm.valid"></ngx-paypal>

      <div class="card mb-3 bg-warning" *ngIf="relayForm.touched && !relayForm.valid">
        <div class="card-body">
          <p class="card-text">
            Please ensure you have entirely filled out the form.
          </p>
        </div>
      </div>

    </div>

    <p *ngFor="let alert of paymentAlerts">
      <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
    </p>

    <div class="form-group row">
      <button class="btn btn-secondary" (click)="resetForm()">Reset Form</button>
    </div>

  </div>

</form>

