<div class="card">
  <div class="card-header">
    <h2 class="card-title">
      {{meet.meetname}}
    </h2>
    <div>
      {{getMeetDates()}}
    </div>
  </div>
  <div class="card-body">
    <div class="location">
      <h3>Location:</h3>
      <p>
        <a href="https://maps.google.com/?q={{meet.location}}" target="_blank">{{meet.location}}
          <i class="fa fa-external-link" aria-hidden="true"></i></a>
      </p>
    </div>

    <div class="contact">
      <h3>Contact Details:</h3>
      <table>
        <tr>
          <th>Name: </th>
          <td>{{meet.contactname}}</td>
        </tr>
        <tr>
          <th>Phone: </th>
          <td><a href="tel:{{meet.phone.phonenumber}}">{{meet.phone.phonenumber}}</a></td>
        </tr>
        <tr>
          <th>Email: </th>
          <td><a href="mailto:{{meet.email.address}}">{{meet.email.address}}</a></td>
        </tr>
      </table>
    </div>

    <button type="button" class="btn btn-primary" routerLink="/enter/{{meet.id}}/step1" *ngIf="isOpen() && !hasEntry()">Enter Meet</button>
    <button type="button" class="btn btn-warning" (click)="openExistingEntry()" *ngIf="isOpen() && hasEntry()">Resume Incomplete Entry</button>
    <div class="card" *ngIf="!isOpen()">
      This meet is not yet open. Please try again later.
    </div>
  </div>
  <div class="card-footer">
    <span *ngIf="isOpen()">
      Closes {{getMeetDeadline()}}
    </span>
    <span *ngIf="!isOpen()">
      Closed {{getMeetDeadline()}}
    </span>
  </div>
</div>
