<div class="card">
  <div class="card-header">
    <h2 class="card-title">
      {{meet.meetname}}
    </h2>
    <div>
      {{getMeetDates()}}
    </div>
  </div>
  <div class="card-body">
    <div class="location">
      <h3>Location:</h3>
      <p>
        <a href="https://maps.google.com/?q={{meet.location}}" target="_blank">{{meet.location}}
          <i class="fa fa-external-link" aria-hidden="true"></i></a>
      </p>
    </div>

    <div class="contact">
      <h3>Contact Details:</h3>
      <table>
        <tr>
          <th>Name: </th>
          <td>{{meet.contactname}}</td>
        </tr>
        <tr>
          <th>Phone: </th>
          <td><a href="tel:{{meet.phone.phonenumber}}">{{meet.phone.phonenumber}}</a></td>
        </tr>
        <tr>
          <th>Email: </th>
          <td><a href="mailto:{{meet.email.address}}">{{meet.email.address}}</a></td>
        </tr>
      </table>
    </div>

    <button type="button" class="btn btn-primary" routerLink="/enter/{{meet.id}}/step1" *ngIf="isOpen() && !hasEntry()">Enter Meet</button>
    <button type="button" class="btn btn-warning" (click)="openExistingEntry()" *ngIf="isOpen() && hasEntry()">Resume Incomplete Entry</button>
    <div class="card" *ngIf="!isOpen()">
      This meet is not yet open. Please try again later.
    </div>

    <div class="mt-3" *ngIf="incompleteEntries.length > 0">
      <h3>Entries Awaiting Followup:</h3>

      <div class="card" *ngFor="let incompleteEntry of incompleteEntries">
        <div class="card-header">
          <h2 class="card-title">
            {{incompleteEntry.entrydata.entrantDetails.entrantFirstName}} {{incompleteEntry.entrydata.entrantDetails.entrantSurname}}
          </h2>
        </div>
        <div class="card-body">
          <strong>Lodged: </strong>{{incompleteEntry.created_at | date: 'medium'}}<br />
          <strong>Status: </strong> {{incompleteEntry.status_id}}
        </div>

      </div>

    </div>

    <div class="mt-3" *ngIf="submittedEntries.length > 0">
      <h3>Submitted Entries:</h3>
      <div class="card" *ngFor="let submittedEntry of submittedEntries">
        <div class="card-header">
          <h2 class="card-title">
            {{submittedEntry.member.firstname}} {{submittedEntry.member.surname}}
          </h2>
          {{submittedEntry.club.clubname}} ({{submittedEntry.club.code}})
        </div>
        <div class="card-body">
          <strong>Entry Number: </strong> {{submittedEntry.id}}<br />
          <strong>Status: </strong> {{submittedEntry.status.status.label}}
          <table>
            <tr>
              <th>
                No:
              </th>
              <th>
                Event Details:
              </th>
              <th>
                Seed Time:
              </th>
            </tr>
            <tr *ngFor="let event of submittedEntry.events">
              <td>
                {{ getEventProgramNo(event.event_id) }}
              </td>
              <td>
                {{ getEventDetails(event.event_id) }}
              </td>
              <td>
                {{event.seedtime | time }}
              </td>
            </tr>
          </table>
        </div>
        <div class="card-footer">
          <strong>Lodged: </strong> {{submittedEntry.created_at | date: 'medium'}}<br />

        </div>

      </div>
    </div>

  </div>
  <div class="card-footer">
    <span *ngIf="isOpen()">
      Closes {{getMeetDeadline()}}
    </span>
    <span *ngIf="!isOpen()">
      Closed {{getMeetDeadline()}}
    </span>
  </div>
</div>
