<div class="row">
  <div class="col-xs-12">
    <h1>SportsTG Members</h1>
  </div>
</div>

<div class="row" *ngIf="members && members.length > 0">
  <table datatable class="col-sm-12 table table-bordered" #sportsTGMembersy>
    <thead>
    <tr>
      <th>External ID</th>
      <th>Surname</th>
      <th>First Name</th>
      <th>MSA Number</th>
      <th>Linked</th>
      <th>Updated</th>
    </tr>

    </thead>
    <tbody>
    <tr *ngFor="let sportstg of members; let i = index">
      <td>
        {{sportstg.external_id}}
      </td>
      <td>
        {{sportstg.surname}}
      </td>
      <td>
        {{sportstg.firstname}}
      </td>
      <td>
        {{sportstg.number}}
      </td>
      <td>
        <span *ngIf="sportstg.member_id">
          {{sportstg.member_id}}
        </span>
        <span *ngIf="!sportstg.member_id">
          No
        </span>
      </td>
      <td>
        {{getLocal(sportstg.updated_at)}}
      </td>
    </tr>
    </tbody>

  </table>

</div>
