<div class="card mb-2" *ngIf="submittedEntry && meet">
  <div class="card-header">
    <h2 class="card-title" *ngIf="!meetTitle">
      {{submittedEntry.member.firstname}} {{submittedEntry.member.surname}}
    </h2>
    <h2 class="card-title" *ngIf="meetTitle">
      {{meet.meetname}}
    </h2>
    <span *ngIf="meetTitle">{{getMeetDates()}}<br /></span>
    {{submittedEntry.club.clubname}} ({{submittedEntry.club.code}})
  </div>
  <div class="card-body">
    <strong>Entry Number: </strong> {{submittedEntry.id}}<br/>
    <strong>Entrant: </strong> {{submittedEntry.member.firstname}} {{submittedEntry.member.surname}}<br />
    <strong>Status: </strong> {{submittedEntry.status.status.label}}
    <table class="mt-2 mb-2 col-sm-12" *ngIf="eventRows.length > 0">
      <tr>
        <th>
          Event Details:
        </th>
        <th class="text-right">
          Seed Time:
        </th>
      </tr>
      <tr *ngFor="let event of eventRows">
        <td>
          #{{ event.progNumber }}{{ event.progSuffix }} -
          {{ event.eventDetails }}
        </td>
        <td class="text-right">
          {{event.seedtime | time }}
        </td>
      </tr>
    </table>
    <div class="card bg-warning mb-2" *ngIf="paymentOwed">
      <div class="card-body">
        <div class="row">
          <div class="card-text col-md-6">
            <h3>Entry Payment</h3>
            <strong>Payment Outstanding:</strong> {{paymentAmountOwed | currency}}<br />
            <strong>Payment Due Date:</strong> {{this.meet.deadline | date: 'd/M/yyyy'}}
          </div>
          <div class="card-text col-md-6" *ngIf="paypalAvailable">
            <img class="p-1" src="https://www.paypalobjects.com/webstatic/mktg/logo/PP_AcceptanceMarkTray-NoDiscover_243x40.png">
            <button class="btn btn-success mx-1" (click)="payNow(submittedEntry)" *ngIf="paymentOwed">
              Pay Now via PayPal/Credit/Debit Card
            </button>
          </div>
        </div>
      </div>
    </div>
    <div>
<!--      <button class="btn btn-primary" (click)="viewSubmittedEntry(submittedEntry)">-->
<!--        View Entry-->
<!--      </button>-->
<!--      <button class="btn btn-primary mx-1" (click)="editSubmittedEntry(submittedEntry)" *ngIf="entriesOpen() && loggedIn">-->
<!--        Edit Entry-->
<!--      </button>-->
    </div>
  </div>
  <div class="card-footer" *ngIf="submittedEntry.created_at">
    <strong>Lodged: </strong> {{submittedEntry.created_at | date: 'medium'}}<br/>

  </div>

</div>
