<h1>Enter {{meetName}}</h1>
<h2>{{this.mealName}}s and Merchandise</h2>

<form [formGroup]="mealsMerchandiseForm">

  <fieldset class="qe-fieldset">

    <h3>{{this.mealName}}</h3>

    <div class="card mb-3 bg-info text-white">
      <div class="card-body">
        <p>
          This meet is offering a meal purchase as an option. Please see the meet flyer for more details of this meal
          on offer.
        </p>
      </div>
    </div>

    <div class="card mb-3 bg-info text-white" *ngIf="this.meet.mealsincluded > 0">
      <div class="card-body">
        <p>
          {{this.meet.mealsincluded}} {{this.mealName}} {{(this.meet.mealsincluded > 1) ? ' tickets are ' : ' ticket is ' }}included in your
          meet entry fee. Additional tickets can be added below for {{this.meet.mealfee | currency}} per extra ticket.
        </p>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-form-legend col-md-6" for="meals">{{(this.meet.mealsincluded > 0) ? 'Extra' : 'Quantity of'}} {{this.mealName}} tickets:</label>

      <div class="col-md-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" id="button-removemeal" aria-label="Remove Meal" (click)="removeMeal()">-</button>
          </div>
          <input class="form-control quantity" width="2" type="text" formControlName="meals" id="meals"/>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addmeal" aria-label="Add Meal" (click)="addMeal()">+</button>
          </div>
        </div>
      </div>

    </div>

    <div class="form-group row">
      <label class="col-form-legend col-md-6" for="mealComments">Dietary Requirements or Other Comments:</label>

      <div class="col-md-6">
        <textarea class="form-control" rows="4" id="mealComments" formControlName="mealComments"></textarea>
      </div>

    </div>

    <div class="form-group row">
      <p class="col-form-legend col-md-6">Subtotal:</p>

      <div class="col-md-6">
        {{mealSubtotal | currency}}
      </div>
    </div>
  </fieldset>

  <fieldset class="qe-fieldset">

    <h3>Merchandise</h3>

    <div class="card mb-3 bg-info text-white">
      <div class="card-body">
        <p>
          The following merchandise items are available for order along with your meet entries. Unless otherwise stated
          merchandise items are delivered when you attend the meet. If you cancel your meet entry, your order will also
          be cancelled.
        </p>
      </div>
    </div>

    <div *ngFor="let merchandiseItem of this.meet.merchandise; let i = index">
      <app-entry-merchandise-item [merchandiseItem]="merchandiseItem" [index]="i">
      </app-entry-merchandise-item>
    </div>

  </fieldset>


  <app-workflow-nav next="/enter/{{meet_id}}/confirmation" previous="/enter/{{meet_id}}/step4"
                    [nextActivated]="formValidSubject.asObservable()" (submitEvent)="onSubmit($event)"></app-workflow-nav>

</form>
