<h1>Enter {{meetName}}</h1>
<h2>Confirm Entry Details and Payment</h2>
<div class="card mb-3 bg-info text-white">
  <div class="card-body">
    <h4 class="card-title">
      Please Check Your Entry
    </h4>
    <p class="card-text">
      Your entry details are listed below. Please check each section.
    </p>
    <p class="card-text">
      <strong>Your entry is not submitted until you choose a Payment Option below.</strong>
    </p>
  </div>
</div>

<div class="confirmationSection">
  <h3>Entrant Details</h3>
  <div class="row">
    <div class="fieldName col-sm-3">
      Name:
    </div>
    <div class="fieldValue">
      {{entry.entrantDetails.entrantSurname}}, {{entry.entrantDetails.entrantFirstName}}
    </div>
  </div>
  <div class="row">
    <div class="fieldName col-sm-3">
      Gender:
    </div>
    <div class="fieldValue">
      {{entry.entrantDetails.entrantGender}}
    </div>
  </div>
  <div class="row">
    <div class="fieldName col-sm-3">
      Date of Birth:
    </div>
    <div class="fieldValue">
      {{entry.entrantDetails.entrantDob}}
    </div>
  </div>
  <div class="row">
    <div class="fieldName col-sm-3">
      Entrant Email:
    </div>
    <div class="fieldValue">
      {{entry.entrantDetails.entrantEmail}}
    </div>
  </div>
  <div class="row">
    <div class="fieldName col-sm-3">
      Entrant Phone Number:
    </div>
    <div class="fieldValue">
      {{entry.entrantDetails.entrantPhone}}
    </div>
  </div>
</div>

<div *ngIf="entry.entrantDetails.who !== 'me'" class="confirmationSection">
  <h3>Entry Lodged By</h3>
  <div class="row">
    <div class="fieldName col-sm-3">
      Name:
    </div>
    <div class="fieldValue">
      {{entry.entrantDetails.userSurname}}, {{entry.entrantDetails.userFirstName}}
    </div>
  </div>
  <div class="row">
    <div class="fieldName col-sm-3">
      Contact Email:
    </div>
    <div class="fieldValue">
      {{entry.entrantDetails.userEmail}}
    </div>
  </div>
  <div class="row">
    <div class="fieldName col-sm-3">
      Contact Phone Number:
    </div>
    <div class="fieldValue">
      {{entry.entrantDetails.userPhone}}
    </div>
  </div>
</div>

<div class="confirmationSection">
  <h3>Emergency Contact</h3>
  <div class="row">
    <div class="fieldName col-sm-3">
      Name:
    </div>
    <div class="fieldValue">
      {{entry.entrantDetails.emergencySurname}}, {{entry.entrantDetails.emergencyFirstName}}
    </div>
  </div>
  <div class="row">
    <div class="fieldName col-sm-3">
      Email:
    </div>
    <div class="fieldValue">
      {{entry.entrantDetails.emergencyEmail}}
    </div>
  </div>
  <div class="row">
    <div class="fieldName col-sm-3">
      Phone Number:
    </div>
    <div class="fieldValue">
      {{entry.entrantDetails.emergencyPhone}}
    </div>
  </div>
</div>

<div class="confirmationSection">
  <h3>Memebership Details</h3>
  <div class="row">
    <div class="fieldName col-sm-3">
      Member Type:
    </div>
    <div class="fieldValue">
      {{entry.membershipDetails.member_type}}
    </div>
  </div>
  <div class="row">
    <div class="fieldName col-sm-3">
      Membership Number:
    </div>
    <div class="fieldValue">
      {{entry.membershipDetails.member_number}}
    </div>
  </div>
  <div class="row">
    <div class="fieldName col-sm-3">
      Club:
    </div>
    <div class="fieldValue">
      {{entry.membershipDetails.club_name}}
      <span *ngIf="entry.membershipDetails.club_code !== ''">({{entry.membershipDetails.club_code}})</span>
    </div>
  </div>
</div>

<div class="confirmationSection">
  <h3>Classification and Medical Details</h3>
  <div class="row">
    <div class="fieldName col-sm-3">
      Disability Classification:
    </div>
    <div class="fieldValue">
      {{entry.medicalDetails.classification}}
    </div>
  </div>
  <div class="row" *ngIf="entry.medicalDetails.classification !== 'no'">
    <div class="fieldName col-sm-3">
      Freestyle Classfication:
    </div>
    <div class="fieldValue">
      {{entry.medicalDetails.classFreestyle}}
    </div>
  </div>
  <div class="row" *ngIf="entry.medicalDetails.classification !== 'no'">
    <div class="fieldName col-sm-3">
      Breaststroke Classfication:
    </div>
    <div class="fieldValue">
      {{entry.medicalDetails.classBreaststroke}}
    </div>
  </div>
  <div class="row" *ngIf="entry.medicalDetails.classification !== 'no'">
    <div class="fieldName col-sm-3">
      Medley Classfication:
    </div>
    <div class="fieldValue">
      {{entry.medicalDetails.classMedley}}
    </div>
  </div>
  <div class="row">
    <div class="fieldName col-sm-3">
      Stroke Dispensation Required:
    </div>
    <div class="fieldValue">
      {{entry.medicalDetails.dispensation}}
    </div>
  </div>
  <div class="row" *ngIf="entry.medicalDetails.dispensation === 'true'">
    <div class="fieldName col-sm-3">
      Medical Certificate:
    </div>
    <div class="fieldValue">
      {{entry.medicalDetails.medicalCertificate}}
    </div>
  </div>
  <div class="row">
    <div class="fieldName col-sm-3">
      Medical Condition:
    </div>
    <div class="fieldValue">
      {{entry.medicalDetails.medicalCondition}}
    </div>
  </div>
  <div class="row" *ngIf="entry.medicalDetails.medicalCondition === 'true'">
    <div class="fieldName col-sm-3">
      Medical Condition Details:
    </div>
    <div class="fieldValue">
      {{entry.medicalDetails.medicalDetails}}
    </div>
  </div>
</div>

<div class="confirmationSection">
  <h3>Events Selected</h3>
  <table>
    <tr *ngFor="let event of entry.entryEvents">
      <td>
        {{event.program_no}}
      </td>
      <td>
        {{event.distance}} {{event.discipline}}
      </td>
      <td>
        {{event.seedtime | time}}
      </td>
    </tr>
  </table>
</div>

<div>
  <h2>
    Entry Cost
  </h2>
  <h3>
    Amount Due
  </h3>
  <table>
    <thead>
    <tr>
      <th>
        Qty
      </th>
      <th>
        Item
      </th>
      <th class="moneycol">
        Each
      </th>
      <th class="moneycol">
        Subtotal
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>

      </td>
      <td>
        Meet Entry Fee
      </td>
      <td class="moneycol">
        $25.00
      </td>
      <td class="moneycol">
        $25.00
      </td>
    </tr>
    <tr>
      <td colspan="3" class="moneycol">
        Total
      </td>
      <td class="moneycol">
        $25.00
      </td>
    </tr>
    <tr>
      <td colspan="3" class="moneycol">
        Paid
      </td>
      <td class="moneycol">
        $0.00
      </td>
    </tr>
    </tbody>
  </table>

  <h2>
    Payment Method
  </h2>
  <div class="card mb-3 bg-info text-white">
    <div class="card-body">
      <h4 class="card-title">
        Payment Options
      </h4>
        <ul>
      <li>
        Credit/Debit Card: We accept payment via Credit or Debit card using PayPal's card payment processing.
        You do not need to have a PayPal account to use this option.
      </li>
          <li>
            Pay Later: You can choose to pay at a later date by returning to Quick Entry. Note that if you do not pay
            for your entry by the Meet Entry Deadline your entry may not be accepted.
          </li>
          <li>
            Pay via Club: Your club may make a bulk payment on behalf of members. Please check with your Club Recorder
            or Club Captain. Note that if you do not pay for your entry by the Meet Entry Deadline your entry may not
            be accepted.
          </li>
    </ul>
    </div>
  </div>
  <form [formGroup]="paymentOptionForm">
    <div class="fieldName col-sm-3">
      Select Payment Option:
    </div>
    <div class="fieldValue">
      <div class="form-check">
        <input type="radio" name="paymentOption" class="form-check-input" value="paypal" id="paypal" formControlName="paymentOption" />
        <label for="paypal" class="form-check-label">Credit/Debit Card or PayPal Account</label>
        <ngx-paypal [config]="payPalConfig"></ngx-paypal>
      </div>
      <div class="form-check">
        <input type="radio" name="paymentOption" class="form-check-input" value="later" id="later" formControlName="paymentOption" />
        <label for="later" class="form-check-label">Pay Later</label>
      </div>
      <div class="form-check">
        <input type="radio" name="paymentOption" class="form-check-input" value="club" id="club" formControlName="paymentOption" />
        <label for="club" class="form-check-label">Pay via Club</label>
      </div>
    </div>
  </form>
</div>

<app-workflow-nav next="/enter/{{meet_id}}/confirmation" previous="/enter/{{meet_id}}/step4"
                  [nextActivated]="formValidSubject.asObservable()"
                  (submitEvent)="onSubmit($event)"></app-workflow-nav>

