.moneycol {
  text-align: right;
}

.seedtimeCol {
  text-align: right;
}

.fieldName {
  text-align: right;
  font-weight: bold;
}

.confirmationSection {
  margin-bottom: 2em;
}

th {
  font-weight: bold;
  background-color: lightcyan;
}
