<div class="row">
  <div class="col-xs-12">
    <h1>{{meetName}}</h1>
    <h2>Entrant Contact List</h2>
  </div>
</div>
<div class="card mb-3 bg-info text-white">
  <div class="card-body">
    <p>
      Entrant Contacts from pending entries will not be shown. Contact details for members are taken from the MSQ
      membership record, not information provided in the entry. This will be updated in future releases of Quick Entry.
    </p>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Export...
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">CSV</a>
        <a class="dropdown-item" href="#">Excel</a>
        <a class="dropdown-item" href="#">PDF</a>
      </div>
    </div>
<!--    <form class="form-inline my-2 my-lg-0">-->
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
<!--    </form>-->
  </div>
</nav>
<div class="row">
  <div class="col-sm-12">
<!--    <ngx-datatable [rows]="contactTable" [columns]="contactColumns" rowHeight="auto"></ngx-datatable>-->
    <table>
      <thead>
      <tr>
        <th>Entry ID</th>
        <th>Entrant</th>
        <th>Club</th>
        <th>Phone</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let contact of contactTable">
        <td>
          {{contact.meet_entries_id}}
        </td>
        <td>
          {{contact.entrant_details}}
        </td>
        <td>
          {{contact.club}}
        </td>
        <td [innerHTML]="contact.phone">
        </td>
        <td [innerHTML]="contact.email">
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
