<div class="row">
  <div class="col-xs-12">
    <h1>Register a Quick Entry Account</h1>
  </div>
</div>

<p *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
</p>

<form [formGroup]="userForm">
  <fieldset class="qe-fieldset">
    <h2>User Details</h2>

    <div class="card bg-info text-white">
      <div class="card-body">
        <p>
        How to create an account:
        </p>
        <ul>
          <li>You will log in using your email address. If you share an email address, create an account under one name,
          then select "Enter for someone else" feature when entering meets.</li>
          <li>Your password must meet the following standards:
          <ul>
            <li>Must be at least 5 characters long</li>
            <li>Must include at least one number</li>
          </ul>
          </li>
          <li>We recommend saving your username and password in your browser or a password manager</li>
        </ul>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <label class="form-control-label col-sm-2" for="email">Email Address (required):</label>
        <input class="form-control col-sm-6" type="text" formControlName="email" id="email"/>
      </div>
      <div class="card bg-warning" *ngIf="email.touched && email.errors !== null && email.errors.required">
        Email address is required.
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <label class="form-control-label col-sm-2" for="password1">Password:</label>
        <input class="form-control col-sm-6" type="password" formControlName="password1" id="password1"/>
      </div>
      <div class="card bg-warning" *ngIf="password1.touched && password1.errors !== null && password1.errors.required">
        Password is required.
      </div>
      <div class="card bg-warning" *ngIf="password1.touched && password1.errors !== null && password1.errors.pattern">
        Your password does not meet the minimum standards!
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <label class="form-control-label col-sm-2" for="password2">Confirm Password:</label>
        <input class="form-control col-sm-6" type="password" formControlName="password2" id="password2"/>
      </div>
      <div class="card bg-warning" *ngIf="password2.touched && userForm.errors !== null && userForm.errors.notSame">
        Password and Confirm Password must match! Please try again.
      </div>

    </div>

    <div class="form-group">
      <div class="row">
        <label class="form-control-label col-sm-2" for="firstName">First name (required):</label>
        <input class="form-control col-sm-6" type="text" formControlName="firstName" id="firstName"/>
      </div>
      <div class="card bg-warning" *ngIf="firstName.touched && firstName.errors !== null && firstName.errors.required">
        First name is required.
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <label class="form-control-label col-sm-2" for="surname">Surname (required):</label>
        <input class="form-control col-sm-6" type="text" formControlName="surname" id="surname"/>
      </div>
      <div class="card bg-warning" *ngIf="surname.touched && surname.errors !== null && surname.errors.required">
        Surname is required.
      </div>
    </div>

    <div class="form-group row">
      <label class="form-control-label col-sm-2" for="dob">Date of Birth (dd/mm/yyyy):</label>
      <input class="form-control col-sm-4" type="date" formControlName="dob" id="dob"/>
    </div>

    <div class="form-group row">
      <p class="col-form-legend col-sm-2">Gender:</p>
      <div class="col-sm-10">
        <div class="form-check">
          <label for="entrant-male">
            <input class="form-check-label" type="radio" formControlName="gender" id="entrant-male"
                   value="M"
                   />
            Male
          </label>
        </div>
        <div class="form-check col-sm10">
          <label for="entrant-female">
            <input class="form-check-label" type="radio" formControlName="gender" id="entrant-female"
                   value="F"
            />
            Female
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <label class="form-control-label col-sm-2" for="phone">Phone (required):</label>
        <input class="form-control col-sm-6" type="text" formControlName="phone" id="phone"/>
      </div>
      <div class="card bg-warning" *ngIf="phone.touched && phone.errors !== null && phone.errors.required">
        Phone number is required.
      </div>
    </div>

  </fieldset>

  <fieldset class="qe-fieldset">
    <h2>Membership</h2>

    <div class="form-group row">
      <label class="col-form-legend col-sm-2">Member Type (required):</label>
      <div class="col-sm-8">
        <div class="form-check">
          <label for="member-type-msa">
            <input class="form-check-label" type="radio" formControlName="memberType" id="member-type-msa" value="msa"
                   checked/>
            Masters Swimming Australia member
          </label>
        </div>
        <div class="form-check">
          <label for="member-type-im">
            <input class="form-check-label" type="radio" formControlName="memberType" id="member-type-im"
                   value="international"/>
            International Masters Swimming Member
          </label>
        </div>
        <div class="form-check">
          <label for="member-type-guest">
            <input class="form-check-label" type="radio" formControlName="memberType" id="member-type-guest"
                   value="guest"
            />
            Guest Swimmer
          </label>
        </div>
        <div class="form-check">
          <label for="member-type-non-member">
            <input class="form-check-label" type="radio" formControlName="memberType" id="member-type-non-member"
                   value="non_member"
            />
            Non-Member
          </label>
        </div>
      </div>
    </div>

    <div class="card bg-warning" *ngIf="memberType.touched && memberType.errors !== null && memberType.errors.required">
      Membership type is required. If you are not a member, select Non-Member.
    </div>

    <div class="form-group" *ngIf="showMemberNumberField">
      <div class="row">
        <label for="member-number" class="form-control-label col-sm-2">
          Membership Number (optional):
        </label>
        <input type="text" class="form-control col-sm-4" id="member-number" formControlName="memberNumber" />
      </div>
      <div class="row justify-content-end no-gutters">
        <div class="col-sm-10">
          <div class="card mb-3 bg-info text-white">
            <div class="card-body">
            We will use your Name, Membership Number and Date of Birth to find your Membership record.
            </div>
          </div>
        </div>
      </div>
    </div>

  </fieldset>

  <fieldset class="qe-fieldset" *ngIf="showEmergencyContactDetails">
    <h2>Emergency Contact Details</h2>
    <div class="card mb-3 bg-info text-white">
      <div class="card-body">
        To enter a meet, you'll need to supply emergency contact details. You can supply these now or when you enter
        your first meet.
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <label class="form-control-label col-sm-2" for="emergencyFirstName">First Name:</label>
        <input class="form-control col-sm-6" type="text" formControlName="emergencyFirstName"
               id="emergencyFirstName"/>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <label class="form-control-label col-sm-2" for="emergencySurname">Surname:</label>
        <input class="form-control col-sm-6" type="text" formControlName="emergencySurname" id="emergencySurname"/>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <label class="form-control-label col-sm-2" for="emergencyPhone">Phone:</label>
        <input class="form-control col-sm-6" type="text" formControlName="emergencyPhone" id="emergencyPhone"/>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <label class="form-control-label col-sm-2" for="emergencyEmail">Email:</label>
        <input class="form-control col-sm-6" type="text" formControlName="emergencyEmail" id="emergencyEmail"/>
      </div>
    </div>

  </fieldset>

  <p *ngFor="let alert of alerts">
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
  </p>

<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="save()" [disabled]="userForm.invalid">Register</button>
    <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
  </div>
</div>
</form>
