<div class="row">
  <div class="col-xs-12">
    <h1>{{meetName}}</h1>
    <h2>Merchandise Orders</h2>
  </div>
</div>
<div class="row mb-2">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="configureMerchandise()">Configure Merchandise</button>
  </div>
</div>
<div class="card mb-3 bg-info text-white" *ngIf="orderTable.length > 0">
  <div class="card-body">
    <p>
      Merchandise orders from pending or paid pending orders will only appear here after the pending order has been
      processed.
    </p>
  </div>
</div>
<div class="row" *ngIf="orderTable.length > 0">
  <div class="col-sm-12">
    <ngx-datatable [rows]="orderTable" [columns]="orderColumns" rowHeight="auto"></ngx-datatable>
  </div>
</div>
<div class="card mb-3 bg-warning text-black" *ngIf="merchandiseExists === false">
  <div class="card-body">
    <p>
      No merchandise has been added to this meet yet! Click Configure Merchandise to add merchandise items.
    </p>
  </div>
</div>
