<div class="row">
  <div class="col-xs-12 meetHeader">
    <h1>{{meetName}}</h1>
    <h2>Merchandise Orders</h2>
  </div>
</div>
<div class="row">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs col-sm-12">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Meal Orders</a>
      <ng-template ngbNavContent>
        <ag-grid-angular
          style="width: 100%; height: 40em"
          class="ag-theme-alpine"
          [rowData]="mealOrderRows"
          [columnDefs]="mealOrderFields"
          [paginationAutoPageSize]="true"
          [pagination]="true"
          (gridReady)="onGridReady($event)"
          (firstDataRendered)="onFirstDataRendered($event)"
          #orderTable>
        </ag-grid-angular>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Orders by Entry</a>
      <ng-template ngbNavContent>
          <ag-grid-angular
            style="width: 100%; height: 40em"
            class="ag-theme-alpine"
            [rowData]="entryOrderRows"
            [columnDefs]="entryOrderFields"
            [paginationAutoPageSize]="true"
            [pagination]="true"
            (gridReady)="onGridReady($event)"
            (firstDataRendered)="onFirstDataRendered($event)"
            #orderTable>
          </ag-grid-angular>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink>Orders by Item</a>
      <ng-template ngbNavContent>
          <ag-grid-angular
            style="width: 100%; height: 40em"
            class="ag-theme-alpine"
            [rowData]="itemOrderRows"
            [columnDefs]="itemOrderFields"
            [paginationAutoPageSize]="true"
            [pagination]="true"
            (gridReady)="onGridReady($event)"
            (firstDataRendered)="onFirstDataRendered($event)"
            #orderTable>
          </ag-grid-angular>
      </ng-template>
    </li>
    <li [ngbNavItem]="4">
      <a ngbNavLink>Merchandise Item Totals</a>
      <ng-template ngbNavContent>
            <ag-grid-angular
              style="width: 100%; height: 40em"
              class="ag-theme-alpine"
              [rowData]="merchandiseSummary"
              [columnDefs]="itemFields"
              [paginationAutoPageSize]="true"
              [pagination]="true"
              (gridReady)="onGridReady($event)"
              (firstDataRendered)="onFirstDataRendered($event)"
              #orderTable>
            </ag-grid-angular>
      </ng-template>
    </li>
  </ul>
</div>

<div class="row">
  <div [ngbNavOutlet]="nav" class="mt-2 col-sm-12"></div>
</div>
<div class="col-sm-4 text-right">
  <button class="btn btn-primary ml-1" (click)="exportMerchandise()">Export as CSV</button>
  <button class="btn btn-secondary ml-1" (click)="configureMerchandise()">Configure Merchandise</button>
</div>
<div class="row mt-2">
  <div class="card mb-3 col-sm-12 bg-info text-white" *ngIf="orderTable.length > 0">
    <div class="card-body">
      <p>
        Merchandise orders from pending or paid pending orders will only appear here after the pending order has been
        processed.
      </p>
    </div>
  </div>
  <div class="card mb-3 bg-warning text-black" *ngIf="merchandiseExists === false">
    <div class="card-body">
      <p>
        No merchandise has been added to this meet yet! Click Configure Merchandise to add merchandise items.
      </p>
    </div>
  </div>
</div>
